.login {
    margin-bottom: 140px;
}

.container {}

.login_container {
    max-width: 1305px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.login_left {
    width: 805px;
}

.login_img {}

.login_right {
    width: 371px;
}

.login_header {
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 24px;

}

.login_text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 48px;


}

.login_container--button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login_button {
    width: 143px;
    padding: 16px;
    border: none;
    cursor: pointer;
    background-color: rgba(219, 68, 68, 1);
    color: white;

}

.login_forgot {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(219, 68, 68, 1);


}

.login-container {
    position: relative;
    width: 370px;
    margin-bottom: 50px;
}

.login-container input[type="password"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.login-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.login-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
}

.login-container input[type="password"]:focus~.label,
.login-container input[type="password"]:valid~.label {
    top: -20px;
    font-size: 16px;
    color: #333;
}

.login-container input[type="text"]:focus~.label,
.login-container input[type="text"]:valid~.label {
    top: -20px;
    font-size: 16px;
    color: #333;
}

.login-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.login-container input[type="password"]:focus~.underline,
.login-container input[type="password"]:valid~.underline {
    transform: scaleX(1);
}

.login-container input[type="text"]:focus~.underline,
.login-container input[type="text"]:valid~.underline {
    transform: scaleX(1);
}

@media screen and (max-width:1190px) {
    .login_left img {
        width: 600px;

    }
    
}

@media screen and (max-width:977px) {
    .login_left img {
        width: 500px;
       
        
    }
    
}

@media screen and (max-width:977px) {
    .login_left img {
        width: 400px;
        margin-bottom: 24px;
        
    }

    .login_left{
      width: auto;
        
    }
    .login_container {
      display: flex;
      flex-direction: column;
      align-items: center;
        
    }
    
}